includes:
  - vendor/phpstan/phpstan-deprecation-rules/rules.neon
  - vendor/phpstan/phpstan-strict-rules/rules.neon
  - phpstan-baseline.neon

parameters:
  level: 9
  tmpDir: .phpstan.cache
  checkGenericClassInNonGenericObjectType: true
  paths:
    - src
    - tests
