parameters:
	ignoreErrors:
		-
			message: "#^Parameter \\#1 \\$countries of class League\\\\ISO3166\\\\ISO3166 constructor expects array\\<array\\{name\\: string, alpha2\\: string, alpha3\\: string, numeric\\: numeric\\-string, currency\\: array\\<string\\>\\}\\>, array\\<array\\<string, mixed\\>\\> given\\.$#"
			count: 1
			path: tests/ISO3166Test.php

		-
			message: "#^Parameter \\#1 \\$key of method League\\\\ISO3166\\\\ISO3166\\:\\:iterator\\(\\) expects 'alpha2'\\|'alpha3'\\|'name'\\|'numeric', 'foo' given\\.$#"
			count: 1
			path: tests/ISO3166Test.php
