<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    backupGlobals="false"
    bootstrap="vendor/autoload.php"
    colors="true"
    stderr="true"
>

    <testsuites>
        <testsuite name="ISO3166 Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <coverage>
        <include>
            <directory>src</directory>
        </include>
        <report>
            <clover outputFile="build/coverage.xml"/>
            <html outputDirectory="build/coverage"/>
            <text outputFile="php://stderr"/>
        </report>
    </coverage>

</phpunit>
