<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/9.5/phpunit.xsd"
    bootstrap="vendor/autoload.php"
    cacheResultFile=".phpunit.cache/test-results"
    colors="true"
    stderr="true"
>

    <testsuites>
        <testsuite name="ISO3166 Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <coverage cacheDirectory=".phpunit.cache/code-coverage"
              processUncoveredFiles="true">
        <include>
            <directory>src</directory>
        </include>
        <exclude>
            <directory>tests</directory>
        </exclude>
        <report>
            <clover outputFile="coverage.xml"/>
            <text outputFile="php://stderr"/>
        </report>
    </coverage>

    <logging>
        <text outputFile="php://stderr"/>
    </logging>

</phpunit>
